In [1]:
# Import necessary libraries
import pandas as pd

# 1. Introduction

## 1.1 Business Problem

The task is to make predictions for a user with a given ID using user-based recommendation methods. 5 recommendations should be provided.

## 1.2 Dataset Story

The dataset has been furnished by MovieLens, a movie recommendation service. It comprises movies accompanied by the
respective rating scores assigned to them. In total, the dataset incorporates 20,000,263 ratings spanning across 27,278
movies. The dataset was curated on October 17, 2016, capturing data from 138,493 users within the period from January 9,
1995, to March 31, 2015. The users were selected at random, and it is noted that each of the chosen users has provided
ratings for a minimum of 20 movies.

## 1.3 Features

`movie.csv`

- `movieId` - Unique movie identifier
- `title` - Movie title
- `genres` - Genre

`rating.csv`

- `userid` - Unique user identifier
- `movieId` - Unique movie identifier
- `rating` - User-assigned rating for the film
- `timestamp` - Date of the rating

# 2. Data Handling

## 2.1 Loading Data

In [2]:
# Load the dataset
movies = pd.read_csv('movie.csv')
ratings = pd.read_csv('rating.csv', parse_dates=['timestamp'])

In [3]:
# Display the first few rows
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# Display the first few rows
ratings.head()

   userId  movieId  rating           timestamp
0       1        2     3.5 2005-04-02 23:53:47
1       1       29     3.5 2005-04-02 23:31:16
2       1       32     3.5 2005-04-02 23:33:39
3       1       47     3.5 2005-04-02 23:32:07
4       1       50     3.5 2005-04-02 23:29:40

## 2.2 Inspecting Data

In [6]:
# Display basic statistics about the dataset
movies.describe()

             movieId
count   27278.000000
mean    59855.480570
std     44429.314697
min         1.000000
25%      6931.250000
50%     68068.000000
75%    100293.250000
max    131262.000000

In [7]:
# Display basic statistics about the dataset
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [8]:
# Display information about the dataset
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [9]:
# Display information about the dataset
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 610.4 MB

In [10]:
# Identify columns with null values
movies.isnull().any()

movieId    False
title      False
genres     False
dtype: bool

In [11]:
# Identify columns with null values
ratings.isnull().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

In [12]:
# Get the number of unique values in each column
movies.nunique()

movieId    27278
title      27262
genres      1342
dtype: int64

In [13]:
# Get the number of unique values in each column
ratings.nunique()

userId         138493
movieId         26744
rating             10
timestamp    15351121
dtype: int64

## 2.3 Data Cleaning and Preprocessing

In [14]:
# Merge movies onto ratings
data = ratings.merge(movies, on='movieId', how='left')

# Display the merged DataFrame
data.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [15]:
# Create DataFrame with counts of votes for each movie
vote_counts = pd.DataFrame(data['movieId'].value_counts())

# Select movies with vote counts equal to or exceeding 1000
popular_movies = vote_counts[vote_counts['movieId'] >= 1000]

# Filter original data to include only popular movies
popular_movies = data[data['movieId'].isin(popular_movies.index)]

# Display popular movies
popular_movies.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [16]:
# Create user-movie pivot table with ratings
user_movie_table = popular_movies.pivot_table(values='rating', index='userId', columns='title')

# Display pivot table
user_movie_table.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Select a random user from the data
random_user = 32344

# Extract the user-movie ratings table for the selected random user
random_user_movie_table = user_movie_table[user_movie_table.index == random_user]

# Display the user-movie ratings table for the random user
random_user_movie_table.head()

title,"'burbs, The (1989)",(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),...,Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zulu (1964),[REC] (2007),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
32344,1.0,NaN,1.5,4.0,2.0,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,3.0,NaN,3.5,3.5,NaN,1.5,NaN,2.5

In [18]:
# Extract movies watched by the random user
movies_watched = random_user_movie_table.columns[random_user_movie_table.notna().any()].to_list()

# Display the first few movies watched by the random user
movies_watched[:5]

["'burbs, The (1989)",
 '*batteries not included (1987)',
 '...And Justice for All (1979)',
 '10 Things I Hate About You (1999)',
 '12 Angry Men (1957)']

In [19]:
# Create a table of movies watched by the random user
movies_watched_table = user_movie_table[movies_watched]

# Display the first few rows of the table
movies_watched_table.head()

title,"'burbs, The (1989)",*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),12 Angry Men (1957),"13th Warrior, The (1999)",1408 (2007),15 Minutes (2001),16 Blocks (2006),2 Days in the Valley (1996),...,"You, Me and Dupree (2006)",Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),Zelig (1983),Zodiac (2007),Zoolander (2001),Zulu (1964),eXistenZ (1999),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Count the number of movies watched by the random user
user_movie_count = movies_watched_table.T.notnull().sum()
user_movie_count = user_movie_count.reset_index()

# Rename columns to 'userId' and 'movie_count'
user_movie_count.columns = ['userId', 'movie_count']

# Display the first few rows of user-movie count table
user_movie_count.head()

   userId  movie_count
0       1          130
1       2           40
2       3          158
3       4           22
4       5           52

In [21]:
# Set the similarity threshold for considering similar users
sim_th = 0.5

# Select users who have watched at least the specified percentage of movies watched by the random user
same_movies = user_movie_count[user_movie_count['movie_count'] >= len(movies_watched) * sim_th]['userId']

# Print the number of similar users found
print(f"- Number of similar users found: {len(same_movies)}")

- Number of similar users found: 340

In [22]:
# Filter the user-movie table to include only entries from similar users
filtered_table = movies_watched_table[movies_watched_table.index.isin(same_movies)]

# Display the first few rows of the filtered user-movie table
filtered_table.head()

title,"'burbs, The (1989)",*batteries not included (1987),...And Justice for All (1979),10 Things I Hate About You (1999),12 Angry Men (1957),"13th Warrior, The (1999)",1408 (2007),15 Minutes (2001),16 Blocks (2006),2 Days in the Valley (1996),...,"You, Me and Dupree (2006)",Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),Zelig (1983),Zodiac (2007),Zoolander (2001),Zulu (1964),eXistenZ (1999),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
156,3.0,NaN,4.0,NaN,NaN,5.0,NaN,2.0,NaN,5.0,...,NaN,5.0,4.0,4.0,NaN,NaN,NaN,3.0,5.0,NaN
775,2.0,3.5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,2.5,...,NaN,4.5,4.0,4.0,2.5,NaN,4.0,NaN,4.0,2.0
903,3.0,NaN,2.0,3.0,4.0,3.0,NaN,NaN,NaN,4.0,...,NaN,5.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0
982,3.5,NaN,NaN,NaN,4.0,NaN,NaN,2.0,2.5,3.5,...,2.5,3.5,3.0,3.0,NaN,4.0,3.0,NaN,3.5,2.5
2261,NaN,2.5,3.0,NaN,4.0,1.5,NaN,2.5,NaN,3.5,...,NaN,4.0,2.5,NaN,3.0,2.0,1.5,NaN,NaN,NaN

In [23]:
# Calculate the correlation between movies watched by similar users
correlation_table = (filtered_table.T.corr().unstack()
                     .sort_values()
                     .rename_axis(['user_id_1', 'user_id_2'])
                     .reset_index(name='correlation'))

# Display the counts of unique correlation values
correlation_table['correlation'].value_counts()

1.000000    340
0.350532      2
0.350688      2
0.350698      2
0.350701      2
           ...
0.234993      2
0.234995      2
0.235000      2
0.235010      2
0.293217      2
Name: correlation, Length: 57631, dtype: int64

In [24]:
# Set the correlation threshold
corr_th = 0.6

# Create a mask to filter similar users based on the random user and correlation threshold
mask = (correlation_table['user_id_1'] == random_user) & (correlation_table['correlation'] >= corr_th)

# Extract similar users and their correlation values, then sort by correlation
similar_users = correlation_table[mask][['user_id_2', 'correlation']].reset_index(drop=True).sort_values(
    by='correlation', ascending=False)

# Rename column
similar_users.rename(columns={"user_id_2": "userId"}, inplace=True)

# Display the first few rows of similar users
similar_users.head()

   userId  correlation
9   32344     1.000000
8   68063     0.978265
7   88604     0.672274
6    8405     0.663698
5   32161     0.621443

In [25]:
# Merge similar users with ratings
similar_users_ratings = similar_users.merge(ratings[['userId', 'movieId', 'rating']], on='userId')

# Remove ratings contributed by the random user
similar_users_ratings = similar_users_ratings[similar_users_ratings['userId'] != random_user]

# Display unique userIds in the resulting DataFrame
unique_user_ids = similar_users_ratings['userId'].unique()

# Display the first few rows of the DataFrame containing ratings from similar users
similar_users_ratings.head()

      userId  correlation  movieId  rating
2886   68063     0.978265        1     5.0
2887   68063     0.978265        2     3.5
2888   68063     0.978265        5     3.0
2889   68063     0.978265        6     3.0
2890   68063     0.978265        9     2.0

# 3. Data Analysis

In [26]:
# Calculate weighted ratings
similar_users_ratings['weighted_rating'] = similar_users_ratings['rating'] * similar_users_ratings['correlation']

# Display the top-rated movies based on weighted ratings
similar_users_ratings.sort_values(by='weighted_rating', ascending=False).head()

      userId  correlation  movieId  rating  weighted_rating
2886   68063     0.978265        1     5.0         4.891323
3416   68063     0.978265     1387     5.0         4.891323
3598   68063     0.978265     1955     5.0         4.891323
4245   68063     0.978265     3508     5.0         4.891323
3597   68063     0.978265     1954     5.0         4.891323

In [27]:
# Create a recommendation table by calculating the mean of weighted ratings for each movie
recommendation_table = (similar_users_ratings.groupby('movieId')
                        .agg({'weighted_rating': 'mean'})
                        .reset_index())

# Display the top-rated movies in the recommendation table
recommendation_table.sort_values(by='weighted_rating', ascending=False).head()

      movieId  weighted_rating
952      1226         4.104906
3084     3811         3.938981
698       921         3.773057
2783     3469         3.694415
3439     4263         3.694415

In [28]:
# Select movies with a weighted rating of 4 or higher for recommendations
recommended_movies = recommendation_table[recommendation_table['weighted_rating'] >= 3.5].sort_values(
    by='weighted_rating', ascending=False)

# Get movie titles and display top recommendations
recommended_movies.merge(movies[['movieId', 'title']], on='movieId')[['title', 'weighted_rating']]

                                       title  weighted_rating
0                      Quiet Man, The (1952)         4.104906
1                      Breaker Morant (1980)         3.938981
2                    My Favorite Year (1982)         3.773057
3                    Inherit the Wind (1960)         3.694415
4              Days of Wine and Roses (1962)         3.694415
5                          Old Yeller (1957)         3.615773
6   Man Who Shot Liberty Valance, The (1962)         3.615773
7                Ox-Bow Incident, The (1943)         3.615773
8                               Shane (1953)         3.565194
9                      Love and Death (1975)         3.556266
10                          Gunga Din (1939)         3.556266
11    Who's Afraid of Virginia Woolf? (1966)         3.555190